.btn {
   padding: 10px 27px;

   background: var(--red);
   color: #fff;

   border: none;

   border-radius: 12px;

   font-family: "Montserrat";
   font-size: var(--text-size);
}

.btn:hover {
   background: var(--darker-red);
}
